[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox/
	shallow = true
	branch = master

[submodule "linux"]
	path = linux
	url = https://github.com/Rust-for-Linux/linux.git
	shallow = true
