CONFIG_64BIT=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n

# 二进制格式 
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y

# 串口 
CONFIG_TTY=y 
CONFIG_SERIAL_8250=y 
CONFIG_SERIAL_8250_CONSOLE=y

# 虚拟化总线 
CONFIG_PCI=y 
CONFIG_PCI_MSI=y 
CONFIG_PCI_QUIRKS=y 
CONFIG_PCI_DIRECT=y 
CONFIG_VIRTIO=y 
CONFIG_VIRTIO_MENU=y 
CONFIG_VIRTIO_PCI=y 
CONFIG_VIRTIO_PCI_LEGACY=y 
CONFIG_VIRTIO_PCI_LIB=y 
CONFIG_VIRTIO_PCI_MODERN=y 
CONFIG_VIRTIO_NET=y 
CONFIG_VIRTIO_BLK=y 
CONFIG_VIRTIO_CONSOLE=y

# 文件系统与初始化 
CONFIG_PROC_FS=y 
CONFIG_SYSFS=y 
CONFIG_DEVTMPFS=y 
CONFIG_DEVTMPFS_MOUNT=y 
CONFIG_TMPFS=y 
CONFIG_RAMFS=y 
CONFIG_RD_GZIP=y 
CONFIG_BLK_DEV_RAM=y 
CONFIG_BLK_DEV_RAM_SIZE=65536

# 网络协议栈 
CONFIG_NET=y 
CONFIG_INET=y 
CONFIG_NETDEVICES=y 
CONFIG_NET_CORE=y 
CONFIG_ETHERNET=y 
CONFIG_FAILOVER=y 
CONFIG_NET_VENDOR_GOOGLE=n